<div *ngIf="dish">
    <h2>{{dish.title | uppercase}} Details</h2>
    <div><span>id: </span>{{dish.id}}</div>
    <div>
      <label for="dish-name">Dish name: </label>
      <input id="dish-name" [(ngModel)]="dish.title" placeholder="name">
    </div>  
</div>