<h2>My Dishes</h2>
<ul class="dishes">
  <li *ngFor="let dish of dishes" 
    [class.selected]="dish === selectedDish"
    (click)="onSelect(dish)">
    <span class="badge">{{dish.id}}</span> {{dish.title}}
  </li>
</ul>

<app-dish-detail [dish]="selectedDish"></app-dish-detail>
